USE [SchoolTimeKeeper]
GO
ALTER TABLE [dbo].[Waiting Line Acp] DROP CONSTRAINT [FK_Waiting Line Acp_Account]
GO
ALTER TABLE [dbo].[Time Slot Detail] DROP CONSTRAINT [FK_Time Slot Detail_Time Slot]
GO
ALTER TABLE [dbo].[Teacher] DROP CONSTRAINT [FK_Teacher_Teacher Status]
GO
ALTER TABLE [dbo].[Teacher] DROP CONSTRAINT [FK_Teacher_Position]
GO
ALTER TABLE [dbo].[Schedule] DROP CONSTRAINT [FK_Schedule_Time Slot]
GO
ALTER TABLE [dbo].[Schedule] DROP CONSTRAINT [FK_Schedule_Teacher]
GO
ALTER TABLE [dbo].[Schedule] DROP CONSTRAINT [FK_Schedule_Semester]
GO
ALTER TABLE [dbo].[Schedule] DROP CONSTRAINT [FK_Schedule_Room]
GO
ALTER TABLE [dbo].[Schedule] DROP CONSTRAINT [FK_Schedule_Class]
GO
ALTER TABLE [dbo].[Role Feature] DROP CONSTRAINT [FK_Role Feature_Role]
GO
ALTER TABLE [dbo].[Role Feature] DROP CONSTRAINT [FK_Role Feature_Feature]
GO
ALTER TABLE [dbo].[Role Account] DROP CONSTRAINT [FK_Role Account_Role]
GO
ALTER TABLE [dbo].[Role Account] DROP CONSTRAINT [FK_Role Account_Account]
GO
ALTER TABLE [dbo].[Request] DROP CONSTRAINT [FK_Request_Type Request]
GO
ALTER TABLE [dbo].[Request] DROP CONSTRAINT [FK_Request_Request Status]
GO
ALTER TABLE [dbo].[Request] DROP CONSTRAINT [FK_Request_Account1]
GO
ALTER TABLE [dbo].[Request] DROP CONSTRAINT [FK_Request_Account]
GO
ALTER TABLE [dbo].[Linking Teacher Subject] DROP CONSTRAINT [FK_Linking Teacher Subject_Group Teacher]
GO
ALTER TABLE [dbo].[Linking Teacher Subject] DROP CONSTRAINT [FK_Linking Teacher Subject_Group Subject]
GO
ALTER TABLE [dbo].[Linking Teacher Group] DROP CONSTRAINT [FK_Linking Teacher Group_Teacher]
GO
ALTER TABLE [dbo].[Linking Teacher Group] DROP CONSTRAINT [FK_Linking Teacher Group_Group Teacher]
GO
ALTER TABLE [dbo].[Linking Subject Group] DROP CONSTRAINT [FK_Linking Subject Group_Subject]
GO
ALTER TABLE [dbo].[Linking Subject Group] DROP CONSTRAINT [FK_Linking Subject Group_Group Subject]
GO
ALTER TABLE [dbo].[Class] DROP CONSTRAINT [FK_Class_Semester]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Teacher]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Question]
GO
/****** Object:  Index [IX_Account_Username]    Script Date: 19/08/22 05:20:38 ******/
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [IX_Account_Username]
GO
/****** Object:  Index [IX_Account_TeacherId]    Script Date: 19/08/22 05:20:38 ******/
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [IX_Account_TeacherId]
GO
/****** Object:  Table [dbo].[Waiting Line Acp]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Waiting Line Acp]') AND type in (N'U'))
DROP TABLE [dbo].[Waiting Line Acp]
GO
/****** Object:  Table [dbo].[Type Request]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Type Request]') AND type in (N'U'))
DROP TABLE [dbo].[Type Request]
GO
/****** Object:  Table [dbo].[Time Slot Detail]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Time Slot Detail]') AND type in (N'U'))
DROP TABLE [dbo].[Time Slot Detail]
GO
/****** Object:  Table [dbo].[Time Slot]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Time Slot]') AND type in (N'U'))
DROP TABLE [dbo].[Time Slot]
GO
/****** Object:  Table [dbo].[Teacher Status]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teacher Status]') AND type in (N'U'))
DROP TABLE [dbo].[Teacher Status]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Teacher]') AND type in (N'U'))
DROP TABLE [dbo].[Teacher]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Subject]') AND type in (N'U'))
DROP TABLE [dbo].[Subject]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Semester]') AND type in (N'U'))
DROP TABLE [dbo].[Semester]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Schedule]') AND type in (N'U'))
DROP TABLE [dbo].[Schedule]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Room]') AND type in (N'U'))
DROP TABLE [dbo].[Room]
GO
/****** Object:  Table [dbo].[Role Feature]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role Feature]') AND type in (N'U'))
DROP TABLE [dbo].[Role Feature]
GO
/****** Object:  Table [dbo].[Role Account]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role Account]') AND type in (N'U'))
DROP TABLE [dbo].[Role Account]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[Request Status]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Request Status]') AND type in (N'U'))
DROP TABLE [dbo].[Request Status]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Request]') AND type in (N'U'))
DROP TABLE [dbo].[Request]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Question]') AND type in (N'U'))
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Position]') AND type in (N'U'))
DROP TABLE [dbo].[Position]
GO
/****** Object:  Table [dbo].[Linking Teacher Subject]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Linking Teacher Subject]') AND type in (N'U'))
DROP TABLE [dbo].[Linking Teacher Subject]
GO
/****** Object:  Table [dbo].[Linking Teacher Group]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Linking Teacher Group]') AND type in (N'U'))
DROP TABLE [dbo].[Linking Teacher Group]
GO
/****** Object:  Table [dbo].[Linking Subject Group]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Linking Subject Group]') AND type in (N'U'))
DROP TABLE [dbo].[Linking Subject Group]
GO
/****** Object:  Table [dbo].[Group Teacher]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Group Teacher]') AND type in (N'U'))
DROP TABLE [dbo].[Group Teacher]
GO
/****** Object:  Table [dbo].[Group Subject]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Group Subject]') AND type in (N'U'))
DROP TABLE [dbo].[Group Subject]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feature]') AND type in (N'U'))
DROP TABLE [dbo].[Feature]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Class]') AND type in (N'U'))
DROP TABLE [dbo].[Class]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 19/08/22 05:20:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
USE [master]
GO
/****** Object:  Database [SchoolTimeKeeper]    Script Date: 19/08/22 05:20:38 ******/
DROP DATABASE [SchoolTimeKeeper]
GO
/****** Object:  Database [SchoolTimeKeeper]    Script Date: 19/08/22 05:20:38 ******/
CREATE DATABASE [SchoolTimeKeeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolTimeKeeper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolTimeKeeper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolTimeKeeper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolTimeKeeper_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolTimeKeeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolTimeKeeper]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[teaid] [int] NULL,
	[qid] [int] NOT NULL,
	[answer] [text] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[className] [nvarchar](50) NOT NULL,
	[semId] [int] NOT NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group Subject]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group Subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Group Subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group Teacher]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group Teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Group Teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linking Subject Group]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linking Subject Group](
	[groupSuId] [int] NOT NULL,
	[subjectId] [int] NOT NULL,
 CONSTRAINT [PK_Linking Subject Group] PRIMARY KEY CLUSTERED 
(
	[groupSuId] ASC,
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linking Teacher Group]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linking Teacher Group](
	[groupTeId] [int] NOT NULL,
	[teaId] [int] NOT NULL,
 CONSTRAINT [PK_Linking Teacher Group] PRIMARY KEY CLUSTERED 
(
	[groupTeId] ASC,
	[teaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linking Teacher Subject]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linking Teacher Subject](
	[groupTeId] [int] NOT NULL,
	[groupSuId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Linking Teacher Subject] PRIMARY KEY CLUSTERED 
(
	[groupTeId] ASC,
	[groupSuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[heSoBasic] [float] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeId] [int] NOT NULL,
	[from] [date] NOT NULL,
	[to] [date] NOT NULL,
	[note] [text] NOT NULL,
	[accId] [int] NOT NULL,
	[statusId] [int] NOT NULL,
	[alterAccId] [int] NOT NULL,
	[approveAccId] [int] NOT NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request Status]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request Status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Request Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role Account]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role Account](
	[roleId] [int] NOT NULL,
	[accId] [int] NOT NULL,
 CONSTRAINT [PK_Role Account] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[accId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role Feature]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role Feature](
	[roleId] [int] NOT NULL,
	[feaId] [int] NOT NULL,
 CONSTRAINT [PK_Role Feature] PRIMARY KEY CLUSTERED 
(
	[roleId] ASC,
	[feaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[teaId] [int] NOT NULL,
	[roomId] [int] NOT NULL,
	[classId] [int] NOT NULL,
	[timeId] [int] NOT NULL,
	[semId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[semNum] [int] NOT NULL,
	[semName] [nvarchar](150) NOT NULL,
	[semStart] [date] NOT NULL,
	[semEnd] [date] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[codeName] [nchar](10) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[birthday] [date] NOT NULL,
	[gender] [bit] NOT NULL,
	[avatar] [text] NOT NULL,
	[posId] [int] NULL,
	[joindate] [date] NOT NULL,
	[statusId] [int] NOT NULL,
	[heSoLuongYear] [float] NULL,
	[heSoPCCV] [float] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher Status]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher Status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nchar](100) NULL,
 CONSTRAINT [PK_Teacher Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time Slot]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time Slot](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isActive] [bit] NOT NULL,
	[from] [nchar](10) NOT NULL,
	[to] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Time Slot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Time Slot Detail]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Time Slot Detail](
	[timeSlotId] [int] NOT NULL,
	[start] [int] NOT NULL,
	[end] [int] NOT NULL,
	[isActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type Request]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type Request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[percent] [int] NULL,
	[maxday] [int] NOT NULL,
	[note] [text] NULL,
	[isActive] [nchar](10) NULL,
 CONSTRAINT [PK_Type Request] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waiting Line Acp]    Script Date: 19/08/22 05:20:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waiting Line Acp](
	[accId] [int] NOT NULL,
	[time] [datetime] NOT NULL,
	[type_io] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [teaid], [qid], [answer]) VALUES (2, N'admin', N'Ad1234', NULL, 1, N'yes')
INSERT [dbo].[Account] ([id], [username], [password], [teaid], [qid], [answer]) VALUES (8, N'tuan123cad', N'Mod123', 1, 1, N'yes')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([id], [content]) VALUES (1, N'Tên bạn có được đặt theo tên của ai không?
')
INSERT [dbo].[Question] ([id], [content]) VALUES (2, N'Bạn có anh chị em không (kể ra)?')
INSERT [dbo].[Question] ([id], [content]) VALUES (3, N'Lần cuối bạn khóc là khi nào?')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([id], [name], [codeName], [isActive]) VALUES (1, N'Ngữ văn', N'NV        ', 1)
INSERT [dbo].[Subject] ([id], [name], [codeName], [isActive]) VALUES (2, N'Toán', N'TO        ', 1)
INSERT [dbo].[Subject] ([id], [name], [codeName], [isActive]) VALUES (3, N'Ngoại ngữ 1', N'NN        ', 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([id], [name], [birthday], [gender], [avatar], [posId], [joindate], [statusId], [heSoLuongYear], [heSoPCCV]) VALUES (1, N'Bùi Đức Tuấn', CAST(N'2001-08-17' AS Date), 0, N'img/imgTeaId/null.jpg', NULL, CAST(N'2013-08-18' AS Date), 1, 5.88, 0.35)
INSERT [dbo].[Teacher] ([id], [name], [birthday], [gender], [avatar], [posId], [joindate], [statusId], [heSoLuongYear], [heSoPCCV]) VALUES (2, N'Hoàng Văn Trị', CAST(N'2000-12-16' AS Date), 0, N'img/imgTeaId/(2).jpg', NULL, CAST(N'2016-01-20' AS Date), 1, 5.77, 0.25)
INSERT [dbo].[Teacher] ([id], [name], [birthday], [gender], [avatar], [posId], [joindate], [statusId], [heSoLuongYear], [heSoPCCV]) VALUES (3, N'Mạch Trung Ðức ', CAST(N'1998-08-31' AS Date), 0, N'img/imgTeaId/(3).jpg', NULL, CAST(N'2022-04-15' AS Date), 1, 5.77, 0.25)
GO
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher Status] ON 

INSERT [dbo].[Teacher Status] ([id], [name], [description]) VALUES (1, N'Đang dạy', N'Giáo viên hiện đang dạy học tại trường                                                              ')
INSERT [dbo].[Teacher Status] ([id], [name], [description]) VALUES (2, N'Đang nghỉ', N'Giáo viên đang trong giai đoạn xin nghỉ phép dài hạn                                                ')
INSERT [dbo].[Teacher Status] ([id], [name], [description]) VALUES (3, N'Đã chuyển trường', N'Giáo viên hiện không còn làm việc tại trường                                                        ')
SET IDENTITY_INSERT [dbo].[Teacher Status] OFF
GO
/****** Object:  Index [IX_Account_TeacherId]    Script Date: 19/08/22 05:20:38 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [IX_Account_TeacherId] UNIQUE NONCLUSTERED 
(
	[teaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Account_Username]    Script Date: 19/08/22 05:20:38 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [IX_Account_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Question] FOREIGN KEY([qid])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Question]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Teacher] FOREIGN KEY([teaid])
REFERENCES [dbo].[Teacher] ([id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Teacher]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Semester] FOREIGN KEY([semId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Semester]
GO
ALTER TABLE [dbo].[Linking Subject Group]  WITH CHECK ADD  CONSTRAINT [FK_Linking Subject Group_Group Subject] FOREIGN KEY([groupSuId])
REFERENCES [dbo].[Group Subject] ([id])
GO
ALTER TABLE [dbo].[Linking Subject Group] CHECK CONSTRAINT [FK_Linking Subject Group_Group Subject]
GO
ALTER TABLE [dbo].[Linking Subject Group]  WITH CHECK ADD  CONSTRAINT [FK_Linking Subject Group_Subject] FOREIGN KEY([subjectId])
REFERENCES [dbo].[Subject] ([id])
GO
ALTER TABLE [dbo].[Linking Subject Group] CHECK CONSTRAINT [FK_Linking Subject Group_Subject]
GO
ALTER TABLE [dbo].[Linking Teacher Group]  WITH CHECK ADD  CONSTRAINT [FK_Linking Teacher Group_Group Teacher] FOREIGN KEY([groupTeId])
REFERENCES [dbo].[Group Teacher] ([id])
GO
ALTER TABLE [dbo].[Linking Teacher Group] CHECK CONSTRAINT [FK_Linking Teacher Group_Group Teacher]
GO
ALTER TABLE [dbo].[Linking Teacher Group]  WITH CHECK ADD  CONSTRAINT [FK_Linking Teacher Group_Teacher] FOREIGN KEY([teaId])
REFERENCES [dbo].[Teacher] ([id])
GO
ALTER TABLE [dbo].[Linking Teacher Group] CHECK CONSTRAINT [FK_Linking Teacher Group_Teacher]
GO
ALTER TABLE [dbo].[Linking Teacher Subject]  WITH CHECK ADD  CONSTRAINT [FK_Linking Teacher Subject_Group Subject] FOREIGN KEY([groupSuId])
REFERENCES [dbo].[Group Subject] ([id])
GO
ALTER TABLE [dbo].[Linking Teacher Subject] CHECK CONSTRAINT [FK_Linking Teacher Subject_Group Subject]
GO
ALTER TABLE [dbo].[Linking Teacher Subject]  WITH CHECK ADD  CONSTRAINT [FK_Linking Teacher Subject_Group Teacher] FOREIGN KEY([groupTeId])
REFERENCES [dbo].[Group Teacher] ([id])
GO
ALTER TABLE [dbo].[Linking Teacher Subject] CHECK CONSTRAINT [FK_Linking Teacher Subject_Group Teacher]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Account] FOREIGN KEY([alterAccId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Account]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Account1] FOREIGN KEY([approveAccId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Account1]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Request Status] FOREIGN KEY([statusId])
REFERENCES [dbo].[Request Status] ([id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Request Status]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Type Request] FOREIGN KEY([typeId])
REFERENCES [dbo].[Type Request] ([id])
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Type Request]
GO
ALTER TABLE [dbo].[Role Account]  WITH CHECK ADD  CONSTRAINT [FK_Role Account_Account] FOREIGN KEY([accId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Role Account] CHECK CONSTRAINT [FK_Role Account_Account]
GO
ALTER TABLE [dbo].[Role Account]  WITH CHECK ADD  CONSTRAINT [FK_Role Account_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Role Account] CHECK CONSTRAINT [FK_Role Account_Role]
GO
ALTER TABLE [dbo].[Role Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role Feature_Feature] FOREIGN KEY([feaId])
REFERENCES [dbo].[Feature] ([id])
GO
ALTER TABLE [dbo].[Role Feature] CHECK CONSTRAINT [FK_Role Feature_Feature]
GO
ALTER TABLE [dbo].[Role Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role Feature_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Role Feature] CHECK CONSTRAINT [FK_Role Feature_Role]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Class] FOREIGN KEY([classId])
REFERENCES [dbo].[Class] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Class]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Room] FOREIGN KEY([roomId])
REFERENCES [dbo].[Room] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Room]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Semester] FOREIGN KEY([semId])
REFERENCES [dbo].[Semester] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Semester]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Teacher] FOREIGN KEY([teaId])
REFERENCES [dbo].[Teacher] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Teacher]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_Time Slot] FOREIGN KEY([timeId])
REFERENCES [dbo].[Time Slot] ([id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_Time Slot]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Position] FOREIGN KEY([posId])
REFERENCES [dbo].[Position] ([id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Position]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Teacher Status] FOREIGN KEY([statusId])
REFERENCES [dbo].[Teacher Status] ([id])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Teacher Status]
GO
ALTER TABLE [dbo].[Time Slot Detail]  WITH CHECK ADD  CONSTRAINT [FK_Time Slot Detail_Time Slot] FOREIGN KEY([timeSlotId])
REFERENCES [dbo].[Time Slot] ([id])
GO
ALTER TABLE [dbo].[Time Slot Detail] CHECK CONSTRAINT [FK_Time Slot Detail_Time Slot]
GO
ALTER TABLE [dbo].[Waiting Line Acp]  WITH CHECK ADD  CONSTRAINT [FK_Waiting Line Acp_Account] FOREIGN KEY([accId])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Waiting Line Acp] CHECK CONSTRAINT [FK_Waiting Line Acp_Account]
GO
USE [master]
GO
