/ChamCongMau/dist/
/BSSID/nbproject/private/
/BSSID/build/
/SchoolTimeKeeper/nbproject/private/
/SchoolTimeKeeper/dist/
/SchoolTimeKeeper/build/
/Checkconnect/nbproject/private/
/Checkconnect/dist/
/Checkconnect/build/
Gaming/Gaming.zip
/Phanquyen/build/
/Phanquyen/nbproject/private/
