<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogInController</servlet-name>
        <servlet-class>controller.login.LogInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebController</servlet-name>
        <servlet-class>controller.client.WebController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controller.client.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.client.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingController</servlet-name>
        <servlet-class>controller.client.ShippingController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.client.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>controller.client.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.login.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileController</servlet-name>
        <servlet-class>controller.client.MyProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>controller.admin.AdminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSubCategoryController</servlet-name>
        <servlet-class>controller.admin.AdminSubCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>controller.admin.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.login.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>controller.login.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.login.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountAdmController</servlet-name>
        <servlet-class>controller.admin.AdminAccountAdmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-class>controller.admin.AdminOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShippingController</servlet-name>
        <servlet-class>controller.admin.AdminShippingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOrderDetailController</servlet-name>
        <servlet-class>controller.admin.AdminOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminImageController</servlet-name>
        <servlet-class>controller.admin.AdminImageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebController</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingController</servlet-name>
        <url-pattern>/shipping</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/add2cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/viewcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileController</servlet-name>
        <url-pattern>/myprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/admin-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSubCategoryController</servlet-name>
        <url-pattern>/admin-subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/admin-category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changenewpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountAdmController</servlet-name>
        <url-pattern>/admin-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderController</servlet-name>
        <url-pattern>/admin-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShippingController</servlet-name>
        <url-pattern>/admin-shipping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOrderDetailController</servlet-name>
        <url-pattern>/admin-order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminImageController</servlet-name>
        <url-pattern>/admin-image</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>web</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
